@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --color-primary: #4f46e5;
  /* Indigo 600 */
  --color-primary-hover: #4338ca;
  /* Indigo 700 */
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-semibold tracking-tight;
  }
}